@import '../../styles.scss';

#footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: mat-color($dominicmarra-accent, 100);

    #footer-name {
        color: mat-color($dominicmarra-primary, 50);
        padding-top: 70px;
        text-align: center;
    }

    #myLinks {
        display: flex;
        justify-content: center;
        width: auto;

        .myLink {
            color: mat-color($dominicmarra-primary, 50);
            font-size: 25px;
        }

        .myLink:hover {
            color: mat-color($dominicmarra-accent, '50-contrast');
            cursor: pointer;
        }

        .linkedIn {
            padding-left: 10px;
        }
    }
}