@import '../../styles.scss';

#contact-me-container {
    width: 85%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    #contact-me-form {
        @include custom-material-form();
        margin-top: 50px;
        height: 100%;
    }

    .form-field {
        width: 100%;
    }

    #button-container {
        @include custom-base-button();
        width: 100%;
        display: flex;
        flex-direction: row;

        #submit-button {
            margin-left: auto;
        }
    }

    #description-input {
        height: 150px;
        min-height: 50px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &:focus, &:hover {
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                box-shadow: inset 0 0 0 3px mat-color($dominicmarra-accent, 50);
                -webkit-box-shadow: inset 0 0 0 3px mat-color($dominicmarra-accent, 50); 
            }
        }
    }

}