<div class="carousel">
    <h2 class="carousel-header">Projects</h2>
    <div #carousel class="slides-wrapper">
        <div class="slides-container">
            <fa-icon class="carousel-next" (click)="next()" [icon]="faChevronRight">next</fa-icon>
            <fa-icon class="carousel-previous" (click)="previous()" [icon]="faChevronLeft">previous</fa-icon>
            <div #slidesContainer class="carousel-slides">
                <app-projectcard 
                    #slide
                    *ngFor="let project of projects; let i = index" 
                    class="project original" 
                    [project]="project"></app-projectcard>
                <app-projectcard 
                    *ngFor="let project of projects; let i = index" 
                    class="project copy" 
                    [project]="project"></app-projectcard>
            </div>
        </div>
    </div>
</div>

