@import '../../styles.scss';

.carousel {
    position: relative;
    max-width: calc(100% - 50px);
    height: 100%;
    margin: auto;
}

.carousel-next, .carousel-previous {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 50px;
    padding: 0;
    margin: 0;
    opacity: 1;
    z-index: map-get($z-indices, "nav-2");
    color: mat-color($dominicmarra-accent, 50);
    @include mat-typography-level-to-styles($dominicmarra-typography, body-1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.carousel-next {
    right: -25px;
}

.carousel-previous {
    left: -25px;
}

.slides-wrapper {
    position: relative;
    height: 100%;
    width: 95%;
    margin: auto;
    padding-bottom: 25px;
    overflow: hidden;
}

.slides-container {
    position: relative;
    height: 100%;

    .carousel-slides {
        display: flex;
        height: 100%;
    }

    .carousel-slides > * {
        flex: 1;
    }
}