@import '../../styles.scss';

.carousel {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.2), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin: 0;
}

.slides-wrapper {
    position: relative;
    height: 80%;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slides-container {
    position: relative;
    height: 100%;

    .carousel-next, .carousel-previous {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        top: 50%;
        padding: 0;
        margin: 0;
        color: mat-color($dominicmarra-accent);
        font-size: 35px;
        width: 3vw;
        max-width: 70px;
        height: 15vh;
        max-height: 130px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            cursor: pointer;
            color: mat-color($dominicmarra-accent);
        }
    }

    .carousel-next {
        right: 5px;
    }

    .carousel-previous {
        left: 5px;
    }

    .carousel-slides {
        display: flex;
        height: 100%;

        .project {
            flex: 1;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}



@media only screen and (min-width: 1250px) { 

    .carousel { 

        .carousel-next, .carousel-previous {
            width: 5vw;
            height: 15vh;
        }
    }
}


@media only screen and (max-width: 790px) { 

    .project-carousel {  

        .carousel-next, .carousel-previous {
            width: 10%;
        }
    }
}