@import '../../styles.scss';

#navbar-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mat-color($dominicmarra-accent, 50);
    height: 90px;
    width: 100%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.33);
    z-index: map-get($z-indices, "nav-2");

    #navbar-name {
        color: mat-color($dominicmarra-primary, 50);
        width: auto;
        text-align: center;
        margin: 0;
        margin-left: 50px;
        padding: 0;
    }

    #navbar-name:hover {
        cursor: default;
    }

    #nav-items {
        display: flex;
        align-items: center;
        height: 100%;
        list-style-type: none;
        color: mat-color($dominicmarra-primary, 50);
        margin: 0;
        padding: 0;
        
        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-right: 50px;
            height: 100%;
            outline: none;
            transition: transform 0.15s ease-out;

            &.active {
                transform: translateY(10px);
                color: mat-color($dominicmarra-accent, '50-contrast');
            }
            
        }

        .nav-item:hover {
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 790px) {
    #navbar-container {
        flex-wrap: wrap;
        height: 110px;

        #navbar-name {
            width: 100%;
            margin: 0;
            margin-top: 10px;
            @include mat-typography-level-to-styles($dominicmarra-typography, title);
        }
    
        #nav-items {
            width: 100%;
            height: 50px;
            justify-content: center;

            .nav-item {
                margin: 0;
                width: 33%;
                text-align: center;
                @include mat-typography-level-to-styles($dominicmarra-typography, body-1);
            }
    
            .nav-item:hover {
                cursor: pointer;
            }
        }
    }

}


