@import "../../styles.scss";

.projectcard-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;

    &:hover {
        cursor: pointer;
        z-index: map-get($z-indices, "content-3");
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        transition: all 0.25s;
    }

    .projectcard-front {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .projectcard-heading {
            width: 100%;
            margin: 25px 0;
            text-align: center;
    
            #projectcard-caption {
                margin-top: 20px;
            }
        }
    
        .projectcard-image {
            width: 80%;
            height: auto;
            pointer-events: none;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
            -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }
    
        .projectcard-expand {
            text-align: center;
            margin: 25px 0;
    
            p {
                margin: 0;
            }
        }
    }
}
