<div class="projectcard-container"  (click)="openProjectDialog()" (mouseenter)="highlightCard(true)" (mouseleave)="highlightCard(false)">
    <div class="projectcard-front" [ngStyle]="{'background-color': '#' + this.project.getColor()}">
        <div class="projectcard-heading">
            <h3 class="highlight-text">{{this.project.getName()}}</h3>
            <p class="projectcard-caption mat-caption highlight-text">{{this.project.getCaption()}}</p>
        </div>
        <img class="projectcard-image" [src]="this.project.getThumbnail()" alt="{{this.project.getName()}} image">
        <div class="projectcard-expand highlight-text">
            <p class="mat-caption">About</p>
        </div>
    </div>
</div>
