.projectcard-container {
    position: relative;
    width: 100%;
    height: 65vh;
    min-height: 420px;
    margin-top: 3%;
    padding-bottom: 3%;

    &:hover {
        cursor: pointer;
        position: relative;
        z-index: 100;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        transition: all 0.25s;
    }

    .projectcard-front {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .projectcard-front {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .projectcard-heading {
            width: 100%;
            text-align: center;
    
            #projectcard-caption {
                margin-top: 20px;
            }
        }
    
        .projectcard-image {
            width: 300px;
            height: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .projectcard-expand {
            text-align: center;
    
            p {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 400px) { 
    .projectcard-container { 
        .projectcard-front { 
            .projectcard-image {
                width: 200px;
                height: 200px;
            }
        }
    }
}