@import '../../styles.scss';

#console-container {
    min-height: calc(100vh - 75px);
    height: 100%;

    #side-nav {
        width: 215px;
        background-color: mat-color($dominicmarra-accent, 200);
        color: mat-color($dominicmarra-primary, 50);
        height: 100%;
        position: fixed;
        top: 75px;
        z-index: map-get($z-indices, "nav-1");

        li {
            list-style: none;
            padding-top: 25%;
            padding-bottom: 25%;
            outline: none;

            &:hover, &.active {
                color: mat-color($dominicmarra-accent, '50-contrast');
                transform: translateX(10px);
                transition: transform 0.2s;
                cursor: pointer;
            }

            .nav-icon, .nav-text {
                display: inline;
            }

            .nav-text {
                padding-left: 10px;
            }
        }
    }

    #routed-content {
        width: calc(100% - 235px);
        margin-left: 235px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 790px) { 
    #console-container {
        margin-top: 75px;

        #side-nav {
            width: 100%;
            height: 50px;
            
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }

            li {
                height: 100%;
                line-height: 50px;
                display: inline-block;
                padding: 0;
    
                &:hover, &.active {
                    transform: translateY(5px);
                    transition: transform 0.2s;
                    cursor: pointer;
                }

                .nav-text {
                    display: none;
                }

                .nav-icon {
                    display: inline-block;
                }
            }
        }
    
        #routed-content {
            width: 90%;
            margin: auto;
            padding-top: 100px;
        }
    }
}