<form [formGroup]="projectForm" #formDirective="ngForm" id="project-form" (ngSubmit)="submitForm()">

    <div id="image-inputs-container">
        
        <div id="thumbnail-input-container" class="image-input-container">
            <label for="thumbnail">Upload Thumbnail</label>
            <div id="thumbnail-image" class="image-display">
                <div class="image-preview" [ngStyle]="{'background-image': 'url(' + thumbnail + ')'}"></div>
            </div>
            <mat-form-field class="form-field" appearance="outline">
                <ngx-mat-file-input formControlName="thumbnail" [multiple]="false" 
                name="thumbnail" (change)="thumbnailInputChange($event)" [accept]="'image/*'" >
                </ngx-mat-file-input>
                <mat-error *ngIf="projectForm.controls.thumbnail.invalid">{{ getThumbnailErrors() }}</mat-error>
            </mat-form-field>
        </div>

        <div id="images-input-container" class="image-input-container">
            <label for="images">Upload Image(s)</label>
            <div id="images" class="image-display">
                <ngx-simplebar id="images-simplebar">
                    <div class="image-preview" *ngFor="let image of images" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                </ngx-simplebar>
            </div>
            <mat-form-field class="form-field" appearance="outline">
                <ngx-mat-file-input name="images" formControlName="images" 
                (change)="imagesInputChange($event)" [multiple]="true" [accept]="'image/*'" >
                </ngx-mat-file-input>
                <mat-error *ngIf="projectForm.controls.images.invalid">{{ getImagesErrors() }}</mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div id="non-image-inputs">
        <mat-form-field [hideRequiredMarker]="true" class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="name" placeholder="Project Name" autocomplete="off" formControlName="name">
            <mat-error *ngIf="projectForm.controls.name.invalid">Please input a name</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="form-field" appearance="outline">
            <mat-label>Caption</mat-label>
            <input matInput name="caption" placeholder="Project Caption" autocomplete="off" formControlName="caption">
            <mat-error *ngIf="projectForm.controls.caption.invalid">Please input a caption</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="form-field" appearance="outline">
            <mat-label>GitHub Link </mat-label>
            <input matInput name="githublink" placeholder="www.github.com" autocomplete="off" formControlName="githublink">
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="form-field" appearance="outline">
            <mat-label>Website Link </mat-label>
            <input matInput name="projectlink" placeholder="www.website.com" autocomplete="off" formControlName="projectlink">
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" class="form-field" appearance="outline">
            <mat-label>Technologies</mat-label>
            <mat-select matInput name="technologies" class="custom-select" panelClass="custom-select" placeholder="Select Tech" autocomplete="off" formControlName="technologies" multiple>
                <mat-option *ngFor="let tech of techKeys()" [value]="tech">{{tech}}</mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.controls.technologies.invalid">Please select at least one technology</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Project Color </mat-label>
            <input matInput [ngxMatColorPicker]="picker" formControlName="color" autocomplete="off">
            <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #picker [touchUi]="'false'"></ngx-mat-color-picker>
            <mat-error *ngIf="projectForm.controls.color.invalid">Invalid Color</mat-error>
        </mat-form-field>
        <div class="form-field">
            <quill-editor matInput formControlName="description" [modules]="toolbarOptions"></quill-editor>
            <p class="error" *ngIf="projectForm.controls.description.invalid && projectForm.controls.description.touched">
                Please input a description
            </p>
        </div>
        <div id="button-container">
            <button id="submit-button" mat-button [disabled]="!projectForm.valid">Submit</button>
        </div>
        <p class="error" *ngIf="projectForm.errors?.invalidFields">The Form has errors, please fix them</p>
    </div>
</form>