@import '../../../styles.scss';

#project-form { 
    @include custom-material-form();
    margin-top: 50px;

    #image-inputs-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .image-display {
            display: flex;
            background-color: mat-color($dominicmarra-primary, 100);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            margin-bottom: 15px;
            margin-top: 10px;
            overflow-x: hidden;
        }

        .image-input-container {
            max-width: 90%;
            min-width: 0;
            padding: 25px;

            .form-field { 
                width: 100%;
            }
        }

        .image-preview {
            margin: 5px;
            flex: 1 1 240px;
            max-width: 95%;
            min-width: 0;
            height: 290px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        #thumbnail-input-container {
            flex: 1 1 300px;
    
            #thumbnail-image {
                height: 300px;
            }
        }
    
        #images-input-container {
            flex: 3 1 300px;
    
            #images {
                height: 300px;

                #images-simplebar {
                    height: 100%;
                    width: 100%;

                    .simplebar-content {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    #non-image-inputs {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-field {
            flex: 1 0 45%;
            max-width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
        }

        quill-editor {
            height: 100%;

            &.ng-invalid.ng-touched {

                .ql-toolbar.ql-snow + .ql-container.ql-snow, .ql-toolbar.ql-snow {
                    border-color: mat-color($dominicmarra-warn, 50);
                }

                .ql-editor.ql-blank::before {
                    color: mat-color($dominicmarra-warn, 50);
                }
            }
        }

        .error {
            margin-top: 0.4em;
            padding: 0 1em;
            color: mat-color($dominicmarra-warn, 50);
            @include mat-typography-level-to-styles($dominicmarra-typography, title);
            font-size: 75%;
        }
    }

    #button-container {
        @include custom-base-button();
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
    
        #submit-button {
            margin-left: auto;
        }
    }
}
