@import '../../../styles.scss';

#project-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 95%;
    margin-bottom: 25px;

    #project-select {
        height: 100%;
        justify-self: start;
        flex: 0 0 400px;
        margin: 25px 0;
        max-width: 100%;
        @include custom-base-button();
        
        button {
            display: block;
            width: 60%;
            margin: auto;
            margin-top: 15px;
        }
    }
}