@import '../../styles.scss';

#home-container {
    margin-top: 75px;
    width: 100%;

    #about-me-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 75px);

        
        #about-me-contents {
            justify-content: space-evenly;
            display: flex;
            height: 350px;
            width: 95%;

            #about-me-img, #about-me-img-repos {
                align-self: center;
                display: inline-block;
                width: 350px;
                height: 350px;
                background-color: mat-color($dominicmarra-accent, 50);
            }

            #about-me-img-repos {
                display: none;
            }
    
            #about-me-text-container {
                display: inline-flex;
                flex-wrap: wrap;
                width: auto;
                max-width: calc(95% - 350px);
                height: 100%;
                margin: 0;

                #about-me-header {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
    
                #about-me-text {
                    margin: 0;
                    align-self: stretch;
                    line-height: 1.75;
                }
            }
                
        } 
    }
}

#my-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-color: mat-color($dominicmarra-primary, 100);
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.2), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);

    #projects-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
    }

    #projects-carousel {
        width: 90%;
        margin: auto;
        flex: 1 1 auto;
        margin-bottom: 25px;
    }

    .project {
        padding: 0 5px 0 5px;
    }

}

@media only screen and (max-width: 790px), 
            screen and (orientation: landscape) and (device-max-height: 1000px) { 
    #home-container {

        #about-me-container {
            width: 75%;
            margin: auto;
            min-height: auto;

            #about-me-contents {
                height: auto;
                align-items: center;

                #about-me-img {
                    display: none;
                    visibility: hidden;
                }

                #about-me-img-repos {
                    width: 100%;
                    max-width: 350px;
                    padding-bottom: 350px;
                    margin: auto;
                    height: 0;
                    display: block;
                }

                #about-me-text-container { 
                    align-items: center;
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    #about-me-header {
                        text-align: center;
                        padding: 75px 0;
                    }
                    
                    #about-me-text {
                        padding: 75px 0;
                        text-align: center;
                    }
                    
                }
            }
        }
    }
}