<div id="home-container">
    <div appActiveFragment [offset]="fragOffset" id="about-me-container">
        <div id="about-me-contents">
            <div id="about-me-img" aria-label="about me image"></div>
            <div id="about-me-text-container">
                <h2 id="about-me-header">About Me</h2>
                <p id="about-me-text">I am an aspiring Front-end / Web developer seeking new opportunities and challenges! 
                    I have a diploma in Computer Information Technology from Kwantlen Polytechnic University. Some of my top skills 
                    include: SCSS/CSS, HTML, Javascript/Typescript, Angular, Bootstrap, Firebase, and <s>researching solutions</s>
                    reading stackoverflow.</p>
            </div>
        </div>
    </div>
    <div appActiveFragment [offset]="fragOffset" id="my-projects">
        <h2 id="projects-header">Projects</h2>
        <app-projectcarousel id="projects-carousel" *ngIf="this.projects.length > 0" [options]="carouselOptions">
            <ng-container *sliderContents>
                <app-projectcard
                #slide
                *ngFor="let project of projects"
                [project]="project"
                class="project"></app-projectcard>
            </ng-container>
        </app-projectcarousel>
    </div>
    <div appActiveFragment [offset]="fragOffset" id="contact-me">
        <app-contactme></app-contactme>
    </div>
</div>
