@import '../../styles.scss';

#home-container {
    width: 100%;
    height: 100%;

    #about-me-container {
        display: flex;
        height: calc(100vh - 90px);
        min-height: (370px);
        align-items: center;
        justify-content: center;
        width: 100%;

        
        #about-me-contents {
            justify-content: space-evenly;
            display: flex;
            height: 350px;
            width: 95%;

            #about-me-img {
                align-self: center;
                display: inline-block;
                height: 350px;
                width: 350px;
    
                background-color: mat-color($dominicmarra-accent);
            }
    
            #about-me-text-container {
                display: inline-flex;
                flex-wrap: wrap;
                width: auto;
                max-width: calc(95% - 350px);
                height: 100%;
                margin: 0;
                #about-me-header {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
    
                #about-me-text {
                    margin: 0;
                    align-self: stretch;
                    line-height: 1.75;
                }
            }
                
        } 
    }
}


@media only screen and (max-width: 790px) { 

    #home-container {

        #about-me-container {
            min-height: calc(100vh - 110px);
            height: auto;
            width: 75%;
            margin: auto;

            #about-me-contents {
                height: auto;
                align-items: center;

                #about-me-img {
                    display: none;
                    visibility: hidden;
                }

                #about-me-text-container { 
                    align-items: center;
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    #about-me-header {
                        padding-bottom: 50px;
                    }
                    
                }
            }
        }
    }

}