@import '../../styles.scss';

#home-container {
    margin-top: 75px;
    width: 100%;

    #about-me-container {
        width: 100%;
        height: calc(100vh - 175px);
        padding: 50px 0;

        
        #about-me-contents {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 95%;

            
            #about-me-header {
                width: 100%;
                margin-bottom: 2.5em;
            }

            #about-me-text-container {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: auto;
                margin: 0;

                #about-me-img {
                    height: auto;
                    display: inline-block;
                    width: 35%;
                    padding: 0 10px;
                    min-width: 350px;
                }
    
                #about-me-text {
                    max-width: 75%;
                    margin: 0;
                    line-height: 1.75;
                }
            }
                
        } 
    }
}

#my-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-color: mat-color($dominicmarra-primary, 100);
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.2), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);

    #projects-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
    }

    #projects-carousel {
        width: 90%;
        margin: auto;
        flex: 1 1 auto;
        padding: 15px 0;
    }

    .project {
        padding: 10px 5px 10px 5px;
    }

}

@media only screen and (max-width: 790px), 
            screen and (orientation: landscape) and (device-max-height: 1000px) { 
    #home-container {

        #about-me-container {
            width: 75%;
            margin: auto;
            height: auto;
            min-height: auto;

            #about-me-contents {

                #about-me-header {
                    text-align: center;
                    margin: 2.5em 0;
                }

                #about-me-text-container { 
                    flex-wrap: wrap;
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    #about-me-img {
                        width: 100%;
                        min-width: auto;
                    }
                    
                    #about-me-text {
                        max-width: none;
                        padding: 3.5em 0;
                        text-align: center;
                    }
                    
                }
            }
        }
    }
}