<h3 mat-dialog-title class="projectcard-details-header">{{this.project.getName()}}</h3>

<mat-dialog-content #projectDetails>
    <div class="project-details-container">
        <ngx-simplebar id="simpBar">
            <div class="projectcard-details">
                <div class="projectcard-images"></div>
                <p class="projectcard-details">
                    {{this.project.getDescription()}}
                </p>
                <div class="project-technologies">
                    <fa-icon *ngFor="let techIcon of projectIcons" [icon]="techIcon" class="projectcard-icon"></fa-icon>
                </div>
            </div>
        </ngx-simplebar>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="projectcard-links">
        <fa-icon [icon]="faGithub" class="projectcard-icon"></fa-icon>
        <fa-icon [icon]="faLink" class="projectcard-icon github"></fa-icon>
    </div>
    <button class="close-button" mat-button (click)="close()">Exit</button>
</mat-dialog-actions>