<h3 mat-dialog-title class="projectcard-details-header">{{this.project.getName()}}</h3>

<mat-dialog-content #projectDetails>
    <div class="project-details-container">
        <ngx-simplebar id="simpBar">
            <div class="projectcard-details">
                <app-projectcarousel *ngIf="this.project.getImages().length > 0">
                    <ng-container *sliderContents>
                        <div *ngFor="let image of this.project.getImages()">
                            <div class="projectcard-images" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                            </div>
                        </div>
                    </ng-container>
                </app-projectcarousel>
                <div class="projectcard-details" [innerHTML]="this.project.getDescription()">
                </div>
                <div class="project-technologies">
                    <fa-icon *ngFor="let techIcon of projectIcons" [icon]="techIcon" class="projectcard-icon"></fa-icon>
                </div>
            </div>
        </ngx-simplebar>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="projectcard-links">
        <fa-icon [icon]="faGithub" class="projectcard-icon" 
        *ngIf="this.project.getGithubLink() != null" (click)="openLink(this.project.getGithubLink())"></fa-icon>
        <fa-icon [icon]="faLink" class="projectcard-icon" 
        *ngIf="this.project.getProjectLink() != null" (click)="openLink(this.project.getProjectLink())"></fa-icon>
    </div>
    <button class="close-button" mat-button (click)="close()">Exit</button>
</mat-dialog-actions>