@import '../../styles.scss';

.projectcard-details-header {
    text-align: center;
}

.cdk-global-scrollblock {
    position: static;
  }
  
.project-details-panel {
    width: 50vw;

.mat-dialog-container, .mat-dialog-content {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
}
  
.simplebar-vertical  {
    width: 7px !important; 
}

.simplebar-hover .simplebar-scrollbar:before, 
.simplebar-mouse-entered .simplebar-scrollbar:before, 
.simplebar-scrollbar.simplebar-visible:before, 
.simplebar-scrolling .simplebar-scrollbar:before {
    opacity: 1;
}
  
  }
  

#simpBar {
    height: 100%;
}

.project-details-container {
    height: 60vh;
    width: 100%;

    .projectcard-details {
        width: 100%;
        height: 100%;
        background-color: white;
    
        .projectcard-images {
            margin: auto;
            margin-top: 25px;
            width: 60vw;
            height: 60vw;
            max-width: 325px;
            max-height: 325px;
            background-color: black;
        }
    
        .projectcard-details {
            margin: auto;
            margin-top: 25px;
            width: 95%;
            text-align: justify;
            overflow: visible;
        }
    
        .project-technologies {
            position: relative;
            text-align: center;
            margin-top: 25px;
        }
    
        .projectcard-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 40px;
            font-size: 25px;
        }
    }
}

.projectcard-links {
    font-size: 24px;
    margin-right: auto;

    .projectcard-icon:hover {
        color: lightskyblue;
    }

    .github {
        padding-left: 24px;
    }
}

.close-button {
    color: white;
    background-color: mat-color($dominicmarra-accent);
    border-radius: 0;
    margin-left: auto;
}

@media only screen and (max-width: 1250px) { 
    .project-details-panel {
        width: 85vw;
        max-width: 85vw;
    }
}

@media only screen and (max-width: 790px) { 
    .project-details-panel {
        width: 98vw;
        max-width: 98vw;
    }
}